div.MobileClient
{
  padding: 2px 0;
}

span.MobileClientBalance
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

td.MobileClientFIO,th
{
  width: 150px;
  margin: 30px;
  padding: 0px;
  text-align: left;
}
td.active{
  background-color: green;
}
td.blocked{
  background-color: red;
}